footer
    border-top 2px solid $vinho
    background #989898
    padding 35px 0
    position relative
    z-index 2
    .center
        display flex
        justify-content space-between
    .links
        width 180px
        a
            display block
            opensans 16 bold
            color #fff
            + a
                margin-top 4px
            &:hover
                color #333
    .exames-lista
        flex 1
        a
            display block
            opensans 14 bold
            color #fff
            + a
                margin-top 4px
            &:hover
                color #333
    .informacoes
        flex 1
        max-width 360px
        opensans 16
        color #fff
        p.telefone
        p.whatsapp
            font-weight 700
            margin-top 0
            padding-left 28px
        p.telefone
            margin-bottom 10px
            background $img('telefone.png') no-repeat left center
        p.whatsapp
            background $img('whats.png') no-repeat left center
        .social
            display block
            font-size 0
            margin-top 20px
            a
                display inline-block
                width 28px
                height 28px
                border-radius 100%
                background-color rgba(#fff, .5)
                background-repeat no-repeat
                background-position center
                transition background .3s
                &:hover
                    background-color #fff
                + a
                    margin-left 5px
                &.facebook
                    background-image $img('ico-facebook.png')
                &.youtube
                    background-image $img('ico-youtube.png')
    .copyright
        opensans 10
        color #fff
        img
            display block
            margin-bottom 40px
        a:hover
            color #000
    +below($tablet)
        .informacoes
            max-width none
        .links
        .exames-lista
            display none
    +mobile()
        padding 25px 0
        .center
            display block
        .informacoes
        .copyright
            width 100%
        .informacoes
            font-size 14px
        .copyright
            margin-top 25px
            font-size 9px
            img
                margin-bottom 25px
