.wrapper-top
    clearfix()
    .logo
        position absolute
        top -135px
        left -10px
        width 580px
        height 580px
        border-radius 100%
        background $img('bg-circulo.png') no-repeat center
        &:after
            content ''
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            background $img('logo.png') no-repeat center
        +below($tablet)
            display none
    .side-content
        width 725px
        float right
        position relative
        z-index 102
        margin-top 50px
        +below($tablet)
            width 100%
            float none
            margin 40px 0
        +mobile()
            margin 25px 0

header
    display flex
    +below($tablet)
        display none
    nav
        display flex
        flex 1
        justify-content space-between
        padding 5px 24px
        border-radius 9999px
        background rgba(#fff, .5)
        box-shadow 0 1px 2px rgba($vinho, .2)
        a
            dosis 16 medium
            color $vinhoTexto
            position relative
            &.active:after
                content ''
                position absolute
                bottom -10px
                left 50%
                margin-left -6px
                width 10px
                height 10px
                border-radius 100%
                background $rosa
                box-shadow 0 1px 2px rgba($vinho, .2)
    .facebook
    .youtube
        display block
        float left
        width 28px
        height 28px
        border-radius 100%
        font-size 0
        background-repeat no-repeat
        background-position center
        background-color rgba(#fff, .5)
        box-shadow 0 1px 2px rgba($vinho, .2)
        transition background .3s
        &:hover
            background-color #fff
    .facebook
        background-image $img('ico-facebook.png')
    .youtube
        background-image $img('ico-youtube.png')
    .btn-cliente
        display flex
        align-items center
        justify-content center
        width 130px
        color $vinhoTexto
        dosis 12 medium
        border-radius 20px
        box-shadow 0 0px 3px 1px rgba($vinho, .4)
        background rgba(#fff, .5)
        transition background .3s
        letter-spacing .5px
        &.btn-cliente-logout
            background $rosa
            dosis 12 bold
        &:hover
            background #fff


.header-mobile
    display none
    +below($tablet)
        display block
    width 100%
    height 110px
    background #fff
    .center
        height 100%
    .logo
        display block
        position relative
        float left
        width 110px
        height 100%
        background $img('logo.png') no-repeat left center
        text-indent -9999px
        background-size auto 82px
    #mobile-toggle
        display block
        border 0
        position relative
        float right
        background none
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $vinho
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $vinho
                transition .3s ease
                border-radius 2px
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

.nav-mobile
    +above($tablet)
        display none !important
    display none
    background $vinho
    text-align right
    padding 25px 0
    padding-right 10px
    nav a
        display block
        dosis 17 medium
        color #fff
        &.active
            color $vinhoTexto
        + a
            margin-top 4px
    .btn-cliente
        display inline-block
        width 130px
        margin-top 20px
        text-align center
        padding 6px 0
        color $vinhoTexto
        dosis 12 medium
        border-radius 20px
        box-shadow 0 0px 3px 1px rgba($vinho, .4)
        background rgba(#fff, .8)
        transition background .3s
        letter-spacing .5px
        &.btn-cliente-logout
            background $rosa
            dosis 12 bold
        &:hover
            background #fff
    .social
        display block
        font-size 0
        margin-top 20px
        a
            display inline-block
            width 28px
            height 28px
            border-radius 100%
            background-color rgba(#fff, .5)
            background-repeat no-repeat
            background-position center
            transition background .3s
            &:hover
                background-color #fff
            + a
                margin-left 5px
            &.facebook
                background-image $img('ico-facebook.png')
            &.youtube
                background-image $img('ico-youtube.png')
