a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5

html
body
    height 100%

body
    &:after
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 510px
        background-image linear-gradient(180deg, #FFE5CD, #fff)
        z-index -1
    &.cliente-bg
        &:after
            background-image linear-gradient(180deg, $laranja, #fff)
