.center
    width desktop-base-width
    position relative
    margin 0 auto
    clearfix()
    +below($tablet)
        width 90%

.texto
    h2
        dosis 22 medium
        color $laranja
        margin 1em 0
        +mobile()
            font-size 20px
    p
        opensans 15
        color $vinhoTexto
        margin 1em 0
        line-height 1.7
        +mobile()
            font-size 14px
    *:first-child
        margin-top 0
    *:last-child
        margin-bottom 0

.imagem-circulo
    position absolute
    border-radius 100%
    left 0
    top 365px
    width 420px
    height 420px
    +below($tablet)
        position relative
        left auto
        top auto
        width 100%
        height auto
        max-width 260px
        margin-bottom 40px
    +mobile()
        margin-bottom 25px
