desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$laranja    =#FE9243
$vinho      = #DC6566
$vinhoTexto = #6C2112
$rosa       = #F88787

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,700|Open+Sans:400,700')

opensans($size, $weight = normal)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == bold
        font-weight 700

dosis($size, $weight = normal)
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700
