.agendamento
    +above($tablet)
        min-height 760px
        padding 75px 0
        .texto
            text-align center
    .texto
        p
            font-style italic
        padding-bottom 80px
        position relative
        &:before
            content ''
            position absolute
            width 20px
            height 20px
            background $rosa
            bottom 30px
            left 50%
            margin-left -10px
            border-radius 100%
        +mobile()
            padding-bottom 60px
            &:before
                bottom 20px

.agendamento-contatos
    display flex
    justify-content center
    > div
        margin 0 30px
        img
            display block
            max-width 100%
        span
            display block
            text-align center
            opensans 15
            color $vinhoTexto
            margin 10px 0
            &:last-child
                opensans 16 bold
                color $vinho
                margin 0
                a:hover
                    color $laranja
    +mobile()
        display block
        > div
            position relative
            clearfix()
            margin 0
            padding-left 55px
            + div
                margin-top 10px
            img
                width 40px
                height auto
                position absolute
                left 0
                top 0
            span
                text-align left
                margin 4px 0
                &:last-child
                    font-size 15px

.agendamento-form
    margin-top 60px
    text-align center
    clearfix()
    +mobile()
        margin-top 40px
    h3
        opensans 18
        color $vinhoTexto
        margin 0 0 15px
        +mobile()
            font-size 16px
            margin-bottom 12px
            text-align left
    .enviado
        background #F5E0E2
        padding 10px
        text-align center
        p
            opensans 14
            color $vinhoTexto
    .wrapper-col
        display flex
        +mobile()
            display block
    .col
        width calc('50% - 3px')
        float left
        + .col
            margin-left 6px
            background #F5E0E2
            padding 10px
            text-align left
            color $vinhoTexto
            p
                opensans 14
                font-style italic
                margin 0 0 5px
            label
                width 100%
                display flex
                cursor pointer
                + label
                    margin-top 5px
                input
                    transform translateY(2px)
                    outline 0
                span
                    flex 1
                    padding-left 5px
                    opensans 14
        +mobile()
            width 100%
            + .col
                margin 6px 0 0
    input[type=text]
    input[type=email]
    textarea
    select
        background #F5E0E2
        border 0
        outline 0
        display block
        resize none
        width 100%
        color $vinhoTexto
        padding 10px
        margin-bottom 6px
        min-height 36px
        opensans 14
        line-height 1
        +placeholder()
                color rgba($vinhoTexto, .7)
    select
        padding 5px
    textarea
        height 100px
        margin-bottom 0
    input[type=submit]
        display inline-block
        margin-top 12px
        width 100%
        max-width 360px
        background $vinho
        color #fff
        opensans 14 bold
        transition background .3s
        cursor pointer
        border 0
        padding 10px
        outline 0
        &:hover
            background $rosa
    .clear
        clear left
    .datepicker
        background $img('calendario.png') no-repeat 97% center #F5E0E2 !important
    .erros
        border 2px solid $vinho
        padding 10px
        dosis 15
        text-align center
        color $vinhoTexto
        letter-spacing .5px
        margin-bottom 10px

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: $vinhoTexto;
}
.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: $vinhoTexto;
}
.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: $vinhoTexto;
}
.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: $vinhoTexto;
}
.datepicker-panel > ul > li:hover {
  background-color: rgba($vinho, .3);
}
.datepicker-panel > ul > li.highlighted {
  background-color: rgba($vinho, .1);
}
.datepicker-panel > ul > li.highlighted:hover {
  background-color: rgba($vinho, .3);
}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: $vinhoTexto;
}
.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: rgba($vinho, .1);
}
