.cliente-bg .wrapper-top
    +above($tablet)
        min-height 570px

.area-do-cliente
    margin-top 100px
    margin-bottom 35px
    h2
        dosis 22 medium
        color #fff
        text-align center
    p
        opensans 16
        color $vinhoTexto
        text-align center
        max-width 600px
        margin-left auto
        margin-right auto
        &.nenhum
            background rgba($rosa, .3)
            padding 10px
            font-size .8em
            border-radius 3px
        a
            display inline-block
            margin-top 6px
            border 1px solid $rosa
            font-size 13px
            padding 6px 16px
            border-radius 9999px
            transition background .3s
            &:hover
                background $rosa
    .login-cliente
        max-width 440px
        margin 0 auto 60px
        input[type=text]
        input[type=password]
            display block
            width 100%
            height 40px
            margin-bottom 5px
            background $laranja
            border 0
            outline 0
            text-align center
            opensans 16 bold
            color $vinhoTexto
            +placeholder()
                color #fff
        input[type=submit]
            display block
            width 100%
            height 40px
            border 0
            outline 0
            background $vinho
            opensans 16 bold
            text-align center
            color #fff
            transition background .3s
            cursor pointer
            &:hover
                background $vinhoTexto
        .login-error
            border 2px solid $vinhoTexto
            border-radius 3px
            padding 15px
            margin-bottom 5px
            text-align center
            color $vinhoTexto
            dosis 14 medium
            letter-spacing .5px
            text-transform uppercase
            line-height 1
    +below($tablet)
        margin-top 0
        text-align right
        *
            text-align left
        .logout
            position relative
            margin-bottom 15px
    +tablet()
        .login-cliente
            margin-bottom 40px
    +mobile()
        h2
            font-size 18px
        p
            font-size 14px
        .login-cliente
            margin-bottom 25px
            input[type=text]
            input[type=password]
            input[type=submit]
                font-size 15px
            .login-error
                font-size 13px

.area-do-cliente
    .table-wrapper
        width 100%
        overflow auto
        margin-top 40px
        +mobile()
            margin-top 25px
    table
        width 100%
        border-spacing 4px
        tbody tr
            cursor pointer
            td
                transition background .3s
            &:hover > td
                background $vinho !important
        th
            text-align left
            padding 0 10px 5px
            opensans 12
            color $vinhoTexto
        td
            background $laranja
            padding 10px
            line-height 1
            opensans 16 bold
            color #fff
            &:nth-child(2)
                width 115px
            &:last-child
                width 80px
            +mobile()
                font-size 14px
                &:nth-child(2)
                    width 100px
        .btn-download
            display block
            width 40px
            height 21px
            text-indent -9999px
            margin 0 auto
            background $img('download.png') no-repeat center
        .icone-visualizacao
            display block
            width 40px
            height 21px
            text-indent -9999px
            margin 0 auto
            background $img('visualizado.png') no-repeat center
            &.visualizado
                opacity .5
