.contato
    +above($tablet)
        padding 75px 0 0
        .texto
            text-align center
    .texto
        margin-bottom 1.5em
    clearfix()
    form
        width 50%
        float left
        +mobile()
            width 100%
            margin-bottom 20px
        input
        textarea
            display block
            width 100%
            opensans 15
            color $vinhoTexto
            background #F4E0E2
            border 0
            outline 0
            margin-bottom 6px
            padding 10px
            resize none
            +placeholder()
                color rgba($vinhoTexto, .7)
        textarea
            height 105px
        input[type=submit]
            background $vinho
            font-weight 700
            color #fff
            cursor pointer
            transition background .3s
            &:hover
                background $rosa
        .enviado
            background $laranja
            padding 10px
            dosis 15
            text-align center
            color $vinhoTexto
            letter-spacing .5px
        .erro
            border 2px solid $vinho
            padding 10px
            dosis 15
            text-align center
            color $vinhoTexto
            letter-spacing .5px
    .informacoes
        width 42%
        float right
        p
            margin 0
            padding-left 60px
            opensans 16 bold
            color $vinhoTexto
            min-height 44px
            padding-top 10px
            background-size 44px 44px !important
            &.endereco
                font-weight 400
                background $img('icone-mapa.png') no-repeat left top
            &.telefone
                background $img('icone-tel.png') no-repeat left top
            &.whatsapp
                margin 10px 0
                background $img('icone-whats.png') no-repeat left top
            +mobile()
                font-size 15px
        +mobile()
            width 100%

.mapa
    width 100%
    height 640px
    margin 80px 0 50px
    position relative
    z-index 2
    +tablet()
        margin 20px 0 40px
        height 480px
    +mobile()
        margin 10px 0 25px
        height 300px
    iframe
        display block
        width 100%
        height 100%
