.empresa
    +above($tablet)
        min-height 380px
        padding-top 50px
    clearfix()
    img
        float left
        width 100%
        max-width 300px
        +mobile()
            margin-bottom 25px
    .texto
        width calc('100% - 340px')
        float right
        +mobile()
            width 100%

.empresa-ilustracoes
    clearfix()
    +above($tablet)
        padding 70px 0 55px
    +tablet()
        padding 0 0 40px
    +mobile()
        padding 0 0 25px
    img
        display block
        width 25%
        float left
