.equipe
    +above($tablet)
        min-height 380px
        padding 75px 0
        .texto
            text-align center
    .texto
        p
            font-style italic
            +below($tablet)
                br
                    display none
    .especialistas
        margin-top 35px
        +mobile()
            margin-top 25px
        .especialista
            border-top 1px solid $laranja
            border-bottom 1px solid $laranja
            background #fff
            clearfix()
            +mobile()
                padding 15px
            img
                float right
                width 100%
                max-width 175px
                +mobile()
                    float none
                    margin-bottom 10px
            .descricao
                width calc('100% - 175px')
                float left
                padding 40px
                color $vinhoTexto
                +mobile()
                    width 100%
                    padding 0
                h3
                    opensans 15 bold
                    font-style italic
                    margin 0
                p
                    opensans 15
                    margin 0
                    +mobile()
                        font-size 14px
                    &.crm
                        font-size 12px
                        margin-top 5px
                    + p
                        margin-top 1em
            + .especialista
                margin-top 50px
                +mobile()
                    margin-top 20px
