.exames
    +above($tablet)
        min-height 760px
        padding 75px 0
        .texto
            text-align center
    .texto
        p
            font-style italic
    .exames-links
        padding-top 80px
        position relative
        &:before
            content ''
            position absolute
            width 20px
            height 20px
            background $rosa
            top 30px
            left 50%
            margin-left -10px
            border-radius 100%
        +mobile()
            padding-top 60px
            &:before
                top 20px
        .exame
            transition all .3s
            a
                display block
                text-align center
                opensans 18 bold
                border-radius 9999px
                transition background .3s
                padding 8px 50px
                color $vinhoTexto
                &:hover
                    background rgba($rosa, .3)
                +mobile()
                    font-size 16px
                    text-align left
                    padding-left 10px
                    &:hover
                        background none
            .descricao
                display none
                opensans 15
                font-style italic
                color $vinhoTexto
                max-width 540px
                margin 10px auto 0
                text-align center
                p
                    display block
                    margin 0
                +mobile()
                    padding 0 10px
                    font-size 14px !important
                    text-align left
                    p
                        font-size 14px !important
            + .exame
                margin-top 5px
            &.open
                border-top 1px solid $laranja
                border-bottom 1px solid $laranja
                background #fff
                padding-bottom 20px
                margin-bottom 20px
                a
                    background none
                    position relative
                    &:after
                        content ''
                        position absolute
                        right 10px
                        top 10px
                        width 20px
                        height 20px
                        border 1px solid $laranja
                        border-radius 100%
                    &:before
                        content ''
                        position absolute
                        right 14px
                        top 19px
                        width 12px
                        height 1px
                        background $laranja
