.banners
    width 100%
    height 445px
    position relative
    // overflow hidden
    +tablet()
        height 400px
        margin-top -20px
    .banner
        width 100%
        height 100%
    .imagem-1
    .imagem-2
        border-radius 100%
        box-shadow 0 1px 3px rgba(#000, .3)
    .imagem-1
        position absolute
        left 0
        top 40px
    .imagem-2
        position absolute
        left 358px
        top 15px
    .textos
        position absolute
        left 368px
        top 235px
        width calc('100% - 365px')
        h3
            margin 0 0 10px
            dosis 22 medium
            color $vinho
        p
            margin 0
            opensans 13
            color $vinhoTexto
            font-style italic
    +mobile()
        height auto
        .banner
            height auto
            clearfix()
        .imagem-1
            position relative
            float left
            width 160px
            height auto
            top 0
        .imagem-2
            position relative
            float left
            width 100px
            height auto
            margin-left 20px
            left auto
            top auto
            margin-top 30px
        .textos
            position relative
            width 100%
            float left
            left auto
            top auto
            margin-top 15px
            h3
                font-size 18px
            p
                font-size 13px

.home
    .chamada-agendamento
        display block
        padding 40px 0
        position relative
        &:before
        &:after
            content ''
            position absolute
            width 100%
            max-width 500px
            height 1px
            background $laranja
            left 50%
            transform translateX(-50%)
        &:before
            top 0
        &:after
            bottom 0
        h3
            dosis 44 light
            color $laranja
            text-align center
            margin 0 0 34px
            line-height 1
        .opcoes
            text-align center
            font-size 0
            div
                width 140px
                display inline-block
                background $laranja
                padding 4px 0
                transform skewX(-45deg)
                transition background .3s
                + div
                    margin-left 5px
                span
                    display block
                    color #ffffff
                    opensans 16 bold
                    transform skewX(45deg)
        &:hover
            .opcoes div
                background $vinho
        +mobile()
            padding 20px 0
            h3
                font-size 24px
                margin-bottom .7em
            .opcoes
                max-width 400px
                margin 0 auto
                div
                    width calc('50% - 2px')
                    transform none
                    margin-bottom 4px
                    span
                        transform none
                        font-size 14px
                    + div
                        margin 0
                    &:nth-child(2n)
                        margin-left 4px
    .nossos-exames
        margin 55px 0 65px
        background #FAEEF0
        +mobile()
            margin 25px 0
            padding 20px 0
        +tablet()
            margin 45px 0 55px
            padding 25px 0
        .center
            display flex
            +below($tablet)
                display block
        .titulo
            display flex
            align-items center
            min-height 310px
            color $vinhoTexto
            width 250px
            h3
                width 100%
                text-align center
                dosis 36 light
                margin 0
            +below($tablet)
                display block
                min-height auto
                height auto
                width 100%
                h3
                    text-align left
                    br
                        display none
            +mobile()
                h3
                    font-size 24px
        .exames-lista-home
            flex 1
            padding 40px
            padding-right 0
            font-size 0
            clearfix()
            +tablet()
                padding 30px 0 0
            +mobile()
                padding 20px 0 0
            a
                width 47%
                display inline-block
                vertical-align top
                margin-bottom 14px
                opensans 18
                color $vinhoTexto
                &:nth-child(2n)
                    margin-left 6%
                +tablet()
                    font-size 16px
                +mobile()
                    width 100%
                    font-size 14px
                    margin 0
                    &:nth-child(2n)
                        margin-left 0
                    + a
                        margin-top 6px
    .localizacao
        margin-bottom 90px
        position relative
        +tablet()
            margin-bottom 60px
        +mobile()
            margin-bottom 25px
        &:after
            content ''
            position absolute
            width 100%
            height calc('100% - 120px')
            top 60px
            left 0
            background $img('back-localizacao.jpg') no-repeat center
            background-size cover
            z-index -1
            +mobile()
                display none
        .box
            max-width 860px
            margin 0 auto
            background $laranja
            padding 40px
            clearfix()
            img
                width 44%
                float right
                display block
            .informacoes
                width 44%
                float left
                h3
                    dosis 36 light
                    color $vinhoTexto
                    margin 0 0 60px
                p
                    opensans 16
                    color #fff
                p.endereco
                    margin-bottom 40px
                p.telefone
                p.whatsapp
                    font-weight 700
                    margin 0
                    padding-left 28px
                p.telefone
                    margin-bottom 6px
                    background $img('telefone.png') no-repeat left center
                p.whatsapp
                    background $img('whats.png') no-repeat left center
            +mobile()
                padding 25px
                .informacoes
                    width 100%
                    margin-bottom 20px
                    h3
                        margin-bottom 20px
                        font-size 24px
                    p
                        font-size 15px
                        &.endereco
                            margin-bottom 20px
                img
                    float left
                    width auto
                    max-width 100%
