.parceiros
    +above($tablet)
        padding 75px 0 95px
        .texto
            text-align center
    .texto
        p
            font-style italic

.parceiros-thumbs
    padding-bottom 75px
    clearfix()
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 25px
    .parceiro
        width calc('25% - 25.5px')
        margin-right 34px
        margin-bottom 34px
        background-color #fff
        background-repeat no-repeat
        background-position center
        background-size 150px auto
        float left
        border-top 1px solid $laranja
        border-bottom 1px solid $laranja
        height 200px
        overflow hidden
        padding-bottom 20px
        transition all .4s
        cursor pointer
        +above($tablet)
            &:nth-child(4n)
                margin-right 0
        +tablet()
            background-size 130px auto
            width calc('33.333% - 22.667px')
            &:nth-child(3n)
                margin-right 0
        +mobile()
            background-size 130px auto
            width 100%
            margin-bottom 20px
        .endereco
            text-align center
            opensans 12
            color $vinhoTexto
            padding 80px 20px 0
            opacity 0
            transition all .4s
            margin-top 200px
        &:hover
            background-size 80px auto
            background-position center 10px
            .endereco
                opacity 1
                margin-top 0
